* {
  margin: 0;
  padding: 0;
  border: 0;
}

canvas {
    background-color: #000;
}

body {
    margin: 32px;
}

p {
    margin-top: 5px;
}

p span {
    cursor: pointer;
    padding: 4px 12px;
    background-color: #E7E7E7;
    border: 1px solid #AAA;
    margin-left: 4px;
    border-radius: 3px;
}

p span.selected {
    background-color: #77AAFF;
}

button {
    color: #444;
    padding: 4px 12px;
    border: 1px solid #DDD;
    margin-bottom: 4px;
}