img {
    width: 320px;
    height: 320px;
    image-rendering: pixelated;
}

#prefectures {
    display: none;
}

#map_frame, #map {
    display: none;
}

#container {
    width: fit-content;
}

#start {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    cursor: pointer;
}