body {
    text-align: center;
}

table {
    /* border: 1px solid #AAA; */
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    background-color: #EEE;
    /* border-radius: 6px;
    box-shadow: 0px 2px #999; */
    border: 1px solid #AAA;
    cursor: pointer;
}

td.top_line5 {
    border-top: 1px solid #555;
}

td.left_line5 {
    border-left: 1px solid #555;
}

td.bottom_line5 {
    border-bottom: 1px solid #555;
}

td.right_line5 {
    border-right: 1px solid #555;
}

th {
    font-size: 14px;
    width: 20px;
    height: 20px;
}

.black {
    background-color: #000;
}

p {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    display: none;
}

.show {
    display: block;
}
