
body {
    font-family: Meiryo, Arial;
    font-size: 12px;
    /* background-color: #000; */
}

p {
    margin-top: 30%;
    text-align: center;
    font-size: 22px;
    color: #AAA;
}

canvas {
    border: 1px solid #AAA;
}
