canvas {
    border: 1px solid #DDD;
}

#cursor {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
}

#maptip-cursor {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    /* border: 2px solid #A00; */
    outline: 2px solid #A00;
    left: 0px;
    top: 0px;
}

#maptip-container {
    position: relative;
}

textarea {
    width: 360px;
    height: 240px;
}

#map-width, #map-height {
    width: 60px;
}