#length, #octave {
    color: #444;
    margin-bottom: 4px;
}

.checkbox {
    border-left: 4px solid #DDD;
    padding-left: 8px;
    margin-bottom: 4px;
}

.checkbox:hover {
    border-left: 4px solid #CCC;
}

#keyboard {
    position: relative;
}

#keyboard div {
    display: inline-block;
    width: 32px;
    height: 120px;
    border: 1px solid #000;
    margin-right: -1px;
}

#keyboard div.black {
    position: absolute;
    width: 22px;
    height: 80px;
    border: none;
    margin-bottom: 40px;
    background-color: #000;
}

