#length {
    color: #444;
}

.checkbox {
    border-left: 4px solid #DDD;
    padding-left: 8px;
    margin-bottom: 4px;
}

.checkbox:hover {
    border-left: 4px solid #CCC;
}

#keyboard div {
    display: inline-block;
    width: 32px;
    height: 120px;
    border: 1px solid #000;
    margin-right: -1px;
}
