img {
    width: 320px;
    height: 320px;
    image-rendering: pixelated;
}

#prefectures {
    display: none;
}

#map_frame, #map, #font {
    display: none;
}

#container {
    width: fit-content;
}

#start-container {
    text-align: center;
}

#start {
    text-align: center;
    font-size: 48px;
    cursor: pointer;
    height: 48px;
    width: 144px;
    /* background-image: url("./button.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px; */
    border: none;
    background-color: #FFF;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 4px;
}

.stop {
    background-position-y: -48px !important;
}

.disable {
    color: #777;
    background-position-y: -96px !important;
}

.listbox input[type="text"] {
    border: 1px solid #EEE;
    background-color: #F7F7F7;
}

.listbox input[type="text"]:focus {
    background-color: #F7F7F7;
    border: 1px solid #EEE;
    outline: 1px solid #DDD;
}

.listbox span {
    border: none;
    background-color: #FFF;
    color: #FFF;
    font-size: 14px;
    margin-left: 6px;
    cursor: default;
    user-select: none;
}

.listbox div:hover span {
    color: #444;
}

.listbox .close {
    height: 16px;
    color: #444;
}


