* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffd;
  font: 30px sans-serif;
}

p {
    font-size: 12pt;
    margin-left: 8px;
    margin-bottom: 4px;
}

canvas {
    margin: 4px;
    border: 1px solid #AAA;
    background: #FFF;
}