.slider {
    width: 120px;
    height: 12px;
    position: relative;
    background-color: #DDD;
    position: relative;
    box-shadow: inset 0 2px 2px #BBB;
    display: inline-block;
    touch-action: none;
}
.slider span {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #34c0f4;
    position: absolute;
    top: 0px;
    left: 235px;
    cursor: pointer;
}

.slider + label {
    margin-left: 4px;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	margin-right: 4px;
	width: 12px;
	height: 12px;
	background-color: #DDD;
	transition-property: background-color;
	transition-duration: 0.4s;
}

input[type="radio"] + label:before {
    border-radius: 8px;
}

input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
	background-color: #34c0f4;
}

label {
	font-family: Meiryo;
	font-size: 10pt;
	color: #777;
}

#box {
    height: 400px;
}

.listbox input[type="text"] {
    border: 1px solid #EEE;
    background-color: #F7F7F7;
}

.listbox input[type="text"]:focus {
    background-color: #F7F7F7;
    border: 1px solid #EEE;
    outline: 1px solid #DDD;
}

.listbox input[type="button"] {
    border: none;
    background-color: #FFF;
    color: #FFF;
    font-size: 14px;
    margin-left: 1px;
}

.listbox div:hover input[type="button"] {
    color: #444;
}

.listbox .close {
    height: 16px;
    color: #444;
}


