* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #FFF;
  font: 30px sans-serif;
}

pre {
    font-size: 14px;
    font-family: Consolas;
    margin: 16px 16px;
    border-radius: 3px;
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 6px 8px;
    color: #444;
}
