
#clearText {
    font-size: 32px;
    display: none;
}

#clearText.clear {
    display: block;
}


table {
    /* border: 1px solid #AAA; */
    border-collapse: separate;
    border-spacing: 4px;
}

td {
    width: 64px;
    height: 64px;
    margin: 2px;
    background-color: #EEE;
    border-radius: 6px;
    box-shadow: 0px 2px #999;
    border: 1px solid #AAA;
    cursor: pointer;
}

.on {
    background-color: #AEE;
    box-shadow: 0px 0px #999;
    cursor: default;
}
