div {
    width: 100px;
    padding: 4px;
    font-size: 10pt;
    border: 1px solid #AAA;
    margin-bottom: 8px;
    text-align: center;
    font-family: Tahoma;
    cursor: pointer;
}

#console {
    width: auto;
    text-align: left;
}

div:hover {
    background-color: #F7F7F7;
}

table {
    /* border: 1px solid #AAA; */
    border-collapse: separate;
    border-spacing: 4px;
}

td {
    width: 64px;
    height: 64px;
    margin: 2px;
    background-color: #EEE;
    border-radius: 6px;
    box-shadow: 0px 2px #999;
    border: 1px solid #AAA;
    cursor: pointer;
}

.on {
    background-color: #AEE;
    box-shadow: 0px 0px #999;
    cursor: default;
}
