div {
    width: 64px;
    height: 64px;
    border-width: 3px;
    margin-top: 32px;
}
#b0 {
    -webkit-border-image: url('border.png') 3 repeat;
    -moz-border-image: url('border.png') 3 repeat;
    -o-border-image: url('border.png') 3 repeat;
}

#b1 {
    border-image: url('border.png') 3 repeat;
}
