body { background-color: #DDDDDD; }
canvas {
  background-color: #FFF;
  border: 1px solid #AAA;
}

label {
  font-size: 10pt;
  margin-right: 16px;
}

p {
  margin-bottom: 4px;
}

.ring {
  width: 24px;
  height: 24px;
  background-image: conic-gradient(#0075FF 0deg 0deg, #BBB 0deg 360deg);
  border-radius: 50%;
  display: inline-block;
}
