#a {
    width: 64px;
    height: 64px;
    border-top: 16px solid #0AF;
    border-right: 16px solid #0AF;
    border-bottom: 16px solid #0AF;
    border-left: 16px solid #ADF;
    border-radius: 100%;
    animation: 2s linear 0s infinite normal rotation;
}

#b {
    width: 96px;
    height: 16px;
    background-color: #F0F;
    animation: 4s linear 0s infinite alternate rise;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rise {
    from {
        transform: translateY(110vh);
    }
    to {
        transform: translateY(0);
    }
}